# ----------------------------------------------------------------------------------------------------------------------
# OS Specifics
# ----------------------------------------------------------------------------------------------------------------------

# OS X
.DS_Store
.localized

# ----------------------------------------------------------------------------------------------------------------------
# Vendor Directories
# ----------------------------------------------------------------------------------------------------------------------

# Node.js
node_modules/

# Golang
vendor/

# ----------------------------------------------------------------------------------------------------------------------
# Infrastructure As Code
# ----------------------------------------------------------------------------------------------------------------------

# Terraform

*.tfplan
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/

# ----------------------------------------------------------------------------------------------------------------------
# Logs
# ----------------------------------------------------------------------------------------------------------------------

*.log
